.menu {
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.item {
    width: 400px;
    height: 500px;
}

html {
    scroll-behavior: smooth;
}

.links {
    float: left;
    color: #fff;
    padding-bottom: 9px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 9px;

}

#myCarousel {
    background-color: red;
}

#myCarousel img {
    width: 400px;
    height: 500px;
}

.carousel-inner {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

#grid img {
    width: 225px;
    height: 225px;
}
